.portfolio {
  padding-top: 50px;
  padding-bottom: 100px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  background: -webkit-gradient(linear, left bottom, left top, from(#dddbd9), to(#cdd0d3));
  background: -webkit-linear-gradient(bottom, #dddbd9, #cdd0d3);
  background: -o-linear-gradient(bottom, #dddbd9, #cdd0d3);
  background: linear-gradient(to top, #dddbd9, #cdd0d3);
}

.portfolio h2 {
  font-size: 1.75rem;
  font-family: inherit;
  font-weight: 500;
}

.portfolio h2:hover {
  color: #fff;
}

.portfolio .text {
  background: #fff;
  padding-bottom: 5px;
  margin-top: 30px;
}

.portfolio .text img {
  width: 100%;
  height: 200px !important;
}

.portfolio .text .ss {
  text-align: center;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 1.2em;
}

.portfolio .text a {
  text-decoration: none;
}

.portfolio .text.zoom-effect {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.portfolio .text:hover.zoom-effect {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  /* Opera */
  transform: scale(1.1);
}

.header_main {
  padding-top: 20px;
}

.header_main .imgg {
  height: 450px;
}

.header_main .im {
  height: 450px;
}

.header_main .img {
  line-height: 500px;
  max-width: 100%;
  height: 450px;
  padding-top: 40%;
}

.header_main .imggg {
  max-width: 100%;
  height: 450px;
  padding-top: 20%;
}

.header_main .menu-carousel .carousel-indicators li {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #d2d2d2;
  height: 0;
  width: 20px !important;
  margin: 5px;
}

.header_main .menu-carousel .carousel-indicators li.active {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #a3a3a3;
  margin: 5px;
  height: 0;
  width: 20px !important;
}

.header_main .icon i {
  font-size: 70px;
  color: #999;
}

.header_main .dropdown-menu {
  text-transform: capitalize;
  font-size: 15px;
  min-width: 8rem;
}

.header_main .dropdown-item {
  padding: 5px;
}

.header_main .fff {
  margin-top: -15%;
  margin-left: -5%;
}

.header_main .btn-danger {
  width: 110px !important;
  height: 28px;
  line-height: 1.5em;
  padding: 5px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-transform: capitalize;
}

.header_main .dropdown-item {
  font-family: 'Montserrat';
}

.header_main .aaa {
  padding-left: 20px;
}

.header_main .qqq {
  padding-left: 12px;
}

.about {
  background: #dce3e2;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .mmm {
  border: 2px solid #fff;
  padding: 40px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#2f3335), to(#a5a5a5));
  background: -webkit-linear-gradient(bottom, #2f3335, #a5a5a5);
  background: -o-linear-gradient(bottom, #2f3335, #a5a5a5);
  background: linear-gradient(to top, #2f3335, #a5a5a5);
}

.about .mmm .textt h3 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
}

.about .mmm .textt li {
  list-style: none;
  font-size: 12px;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: 'Montserrat';
  color: #FFF;
}

.about .mmm .textt i {
  color: #1f6b38;
  font-size: 20px;
  margin-right: 5px;
}

.certificate {
  -webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  background: -webkit-gradient(linear, left bottom, left top, from(#6d6d6e), to(#a5a5a5));
  background: -webkit-linear-gradient(bottom, #6d6d6e, #a5a5a5);
  background: -o-linear-gradient(bottom, #6d6d6e, #a5a5a5);
  background: linear-gradient(to top, #6d6d6e, #a5a5a5);
  padding-top: 70px;
  padding-bottom: 70px;
}

.certificate .photo {
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.certificate .photo .photo img {
  max-width: 100%;
  height: 200px;
  padding: 20px;
}

.certificate h2 {
  font-size: 1.75rem;
  font-family: inherit;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

.certificate h2:hover {
  color: #fed136;
}

.certificate .sss {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* .certificate .photo.zoom-effect {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.certificate .photo:hover.zoom-effect {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  /* Opera */
  transform: scale(1.2);
} */

.certificate .fa-certificate {
  color: #d1c165;
}

#contact {
  padding-top: 30px;
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#f7f3f3), to(#e5e8eb));
  background: -webkit-linear-gradient(bottom, #f7f3f3, #e5e8eb);
  background: -o-linear-gradient(bottom, #f7f3f3, #e5e8eb);
  background: linear-gradient(to top, #f7f3f3, #e5e8eb);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(227, 232, 238, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 0 0 rgba(227, 232, 238, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
}

#contact li {
  display: inline;
}

#contact .fa {
  font-size: 30px;
}

#contact h2 {
  font-weight: 400;
  color: #666;
  line-height: 3em;
  letter-spacing: -1px;
  text-transform: capitalize;
}

#contact h2:hover {
  color: #6c7d9c;
}

#contact .img img {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

h4:hover {
  color: #6c7d9c;
}

#contact h6 {
  font-size: 17px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
}

#contact .tel {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
}

#contact h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.75rem;
  font-family: inherit;
  font-weight: 500;
}

#contact .title {
  text-transform: capitalize;
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  padding-top: 25px;
}

#contact .fa {
  font-size: 20px;
  margin-right: 5px;
}

#contact li {
  font-size: 14px;
  margin-top: 10px;
}

#contact ul {
  list-style: none;
  padding-left: 0;
}

.contact_b {
  background: #8c8a8a;
  padding: 20px 0;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #ffffff;
  text-transform: capitalize;
}

#contact .contact_b ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact a {
  color: #ffffff;
  text-decoration: none;
}

.img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img img {
  width: 100px;
  height: 100px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  max-width: 100%;
}

#hellopreloader > p {
  display: none;
}

#hellopreloader_preload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 99999 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3d3d3f url('../loader/Puff.svg') center 50% no-repeat;
  -webkit-background-size: 400px 400px;
          background-size: 400px;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: #fff;
}

.logo {
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.logo img {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
}

.logo p {
  font-size: 15px;
  margin-left: 7px;
  color: #fff;
}

.logo h3 {
  margin: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  text-transform: capitalize;
  text-align: center;
}

.ddd:hover {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Современные браузеры, кроме Chrome, Opera, Safari */

@keyframes top-bottom {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes top-bottom {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  50% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }

  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.effect_top_bottom {
  /* применить анимацию go-left-right */
  /* продолжительность 3s */
  /* количество раз: бесконечное (infinite) */
  /* менять направление анимации каждый раз (alternate) */
  animation: top-bottom 1s infinite;
  -webkit-animation: top-bottom 1s infinite;
  position: relative;
}

/* Portfolio Image Hover */

#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  opacity: .2;
  background: #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

#backtotop i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 32px;
}

#backtotop.visible {
  visibility: visible;
  opacity: .5;
}

#backtotop:hover {
  opacity: 1;
}

.hamburger {
  font-size: 2.3em;
  color: #000;
  margin-bottom: 20px;
}

.hamburger:hover {
  color: #000;
  cursor: pointer;
}

.menu-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
}

.fix {
  background: -webkit-gradient(linear, left bottom, left top, from(#4e506d), to(#cdd0d3));
  background: -webkit-linear-gradient(bottom, #4e506d, #cdd0d3);
  background: -o-linear-gradient(bottom, #4e506d, #cdd0d3);
  background: linear-gradient(to top, #4e506d, #cdd0d3);
  -webkit-box-shadow: 0 10px 15px grey;
          box-shadow: 0 10px 15px grey;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0.0%;
}

.logo p {
  margin-bottom: -1rem;
}

@media (max-width: 1200px) {
  .logo h3 {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .header_main .imgg {
    height: 400px;
  }

  .header_main .img {
    height: 400px;
  }

  .header_main .imggg {
    height: 400px;
  }

  .header_main .im {
    height: 400px;
  }

  .price .price_b .price_b_i h4,
  #contact h4 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .header_main .imgg {
    height: 300px;
  }

  .header_main .img {
    height: 300px;
    padding-top: 30% !important;
  }

  .header_main .imggg {
    height: 300px;
    padding-top: 30% !important;
  }

  .header_main .im {
    height: 300px;
    padding-top: 3% !important;
  }

  .price .price_b .price_b_i li,
  #contact li {
    font-size: 14px;
    margin-top: 10px;
  }

  .price .price_b .price_b_i h4,
  #contact h4 {
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  .portfolio .text:hover.zoom-effect {
    -webkit-transform: scale(0.99);
    /* Safari and Chrome */
    /* Firefox */
    -ms-transform: scale(0.99);
    /* IE 9 */
    /* Opera */
    transform: scale(1.08);
  }
  

  .header_main .img {
    height: 225px !important;
    padding-top: 25% !important;
  }

  .header_main .imgg {
    height: 225px !important;
  }

  .header_main .imggg {
    height: 225px !important;
    padding-top: 30% !important;
  }

  .header_main .im {
    height: 225px !important;
    padding-top: 3% !important;
  }

  .about .text li {
    font-size: 10px !important;
  }

  .certificate .sss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .certificate .photo {
    width: 250px;
    
  }
  .certificate .photo img {
    height: 200px !important;
  }

  #contact h4 {
    font-size: 1.75rem;
    font-weight: 500;
  }

  #contact .contact_b ul {
    padding: 40px;
  }

  .logo h3 {
    font-size: 21px;
  }
}

@media (max-width: 420px) {
  .header_main .img {
    height: 225px !important;
    padding-top: 25% !important;
  }

  .header_main .imggg {
    padding-top: 90% !important;
  }

  .header_main .im {
    padding-top: 10% !important;
  }

  #contact h4 {
    margin-left: 5px;
    font-weight: 600;
  }

  #contact .contact_b ul {
    padding: 40px;
  }
}

@media (max-width: 415px) {
  #contact .contact_b ul {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .header_main .img {
    height: 200px !important;
    padding-top: 20% !important;
  }

  .header_main .imgg {
    height: 200px !important;
    padding-top: 0;
  }

  .header_main .imggg {
    height: 200px !important;
    padding-top: 70% !important;
  }

  .header_main .im {
    height: 200px !important;
    padding-top: 8% !important;
  }

  .about .text li {
    font-size: 10px !important;
  }

  #contact .contact_b ul {
    padding: 10px;
  }

  #contact .title {
    letter-spacing: 3px;
  }

  #contact .tel {
    letter-spacing: 2px;
  }
}

@media (width: 576px) {
  .about .text li {
    font-size: 12px !important;
  }

  #contact h4 {
    font-size: 18px;
    font-weight: 500;
  }

  #contact .contact_b ul {
    padding: 0;
  }
}
