.header {
  background: url(../img/Header_bg.jpg) center center no-repeat;
  height: 100vh;
  background-size: cover;
  max-width: 100%;
}
.header .menu-top {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 14px;
}
.header .menu-top a {
  color: #fff;
}
.header .menu-top .navbar-brand h3 {
  color: #fff;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 1px;
}
.header .menu-top .navbar-nav {
  margin-left: 45px;
}
.header .menu-top .navbar-nav .nav-link {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.header .carousel .carousel_text {
  text-align: center;
  margin-top: 20%;
}
.header .carousel .carousel_text h1 {
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 25px;
}
.header .carousel .carousel_text .btn-primary {
  text-transform: uppercase;
  width: 200px;
  height: 48px;
  border-radius: 40px;
  background: #19ace9;
  border: #85c8e6;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
}
.header .carousel .sss {
  margin-top: 80%;
}
.header .carousel svg {
  font-size: 10px;
}
@media (max-width: 1200px) {
  .header .carousel .carousel_text {
    margin-top: 19%;
  }
}
@media (max-width: 992px) {
  .header .carousel .carousel_text h1 {
    font-size: 60px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 70px;
  }
  .header .carousel .carousel_text {
    margin-top: 25%;
  }
}
.header .menu-top .navbar-nav .nav-link {
  font-size: 11px;
}
@media (max-width: 850px) {
  .header .carousel .carousel_text {
    margin-top: 33%;
  }
}
@media (max-width: 768px) {
  .header .carousel .carousel_text h1 {
    font-size: 60px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 70px;
  }
  .header .carousel .carousel_text {
    margin-top: 33%;
  }
}
@media (max-width: 650px) {
  .header .carousel .carousel_text {
    margin-top: 45%;
  }
}
@media (max-width: 576px) {
  .header {
    height: 58vh;
  }
  .header .carousel .carousel_text h1 {
    font-size: 32px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 45px;
  }
  .header .carousel .carousel_text {
    margin-top: 21%;
  }
}
@media (max-width: 440px) {
  .header .carousel .carousel_text {
    margin-top: 36%;
  }
}
@media (max-width: 320px) {
  .header {
    height: 58vh;
  }
  .header .carousel .carousel_text h1 {
    font-size: 32px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 45px;
  }
  .header .carousel .carousel_text {
    margin-top: 37%;
  }
}
