.news {
  padding-top: 30px;
}
.news .news-l {
  background: url(../img/products8.png) center no-repeat;
  height: 100%;
  padding-top: 40px;
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}
.news .news-l p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.news .news-l .sales h1 {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
}
.news .news-l .sales h4 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}
.news .news-l .btn {
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 30px;
  margin-top: 80px;
}
.news .news_title {
  border: 1px solid #d5d5d6;
  padding: 25px 40px 10px;
}
.news .news_title .bgg {
  border-right: 4px solid #000;
}
.news .news_title .ssss {
  display: inline-block;
  margin-left: 72%;
  color: #ff8c38;
  font-size: 14px;
}
.news .news_title .ssss:last-child {
  margin-left: 40px;
}
.news .news_title h3 {
  font-size: 24px;
  font-family: 'Montserrat(OOT)', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #19ace9;
  display: inline-block;
}
.news .blog_carousel {
  border: 1px solid #d5d5d6;
  border-top: none;
}
.news .blog_carousel .carousel {
  padding: 30px 5px 30px 30px;
}
.news .blog_carousel .carousel-item {
  text-align: unset !important;
}
.news .blog_carousel .carousel-item .carousel_text {
  color: #fff;
  position: absolute;
  padding-left: 40px;
  margin-top: 22%;
}
.news .blog_carousel .carousel-item .carousel_text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.news .blog_carousel .carousel-item .carousel_text h4 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
}
.news .blog_carousel .carousel-item img {
  max-width: 520px;
}
.news .blogg {
  padding-bottom: 30px;
}
.news .blogg .blog_text {
  display: flex;
  padding-top: 30px;
  padding-bottom: 16px;
}
.news .blogg .blog_text .text {
  padding-left: 25px;
}
.news .blogg .blog_text .text p {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #999999;
}
.news .blogg .blog_text .text h4 {
  color: #232323;
  font-size: 19px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  margin-top: -8px;
}
.news .blogg .ss {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #19ace9;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 60%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blogg .blog_text img {
    width: 60px !important;
  }
}
@media (max-width: 768px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 60%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blog_carousel .carousel {
    padding: 0;
  }
  .news .blogg .blog_text {
    padding-top: 5px;
  }
  .news .blogg .blog_text img {
    width: 60px !important;
  }
}
@media (max-width: 576px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 18%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blog_carousel .carousel {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 18%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blog_carousel .carousel {
    padding: 0;
  }
}
