.header {
  background: url(../img/Header_bg.jpg) center center no-repeat;
  height: 100vh;
  background-size: cover;
  max-width: 100%;
}
.header .menu-top {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff !important;
  font-size: 14px;
}
.header .menu-top a {
  color: #fff;
}
.header .menu-top .navbar-brand h3 {
  color: #fff;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 1px;
}
.header .menu-top .navbar-nav {
  margin-left: 45px;
}
.header .menu-top .navbar-nav .nav-link {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.header .carousel .carousel_text {
  text-align: center;
  margin-top: 20%;
}
.header .carousel .carousel_text h1 {
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 25px;
}
.header .carousel .carousel_text .btn-primary {
  text-transform: uppercase;
  width: 200px;
  height: 48px;
  border-radius: 40px;
  background: #19ace9;
  border: #85c8e6;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
}
.header .carousel .sss {
  margin-top: 80%;
}
.header .carousel svg {
  font-size: 10px;
}
@media (max-width: 1200px) {
  .header .carousel .carousel_text {
    margin-top: 19%;
  }
}
@media (max-width: 992px) {
  .header .carousel .carousel_text h1 {
    font-size: 60px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 70px;
  }
  .header .carousel .carousel_text {
    margin-top: 25%;
  }
}
@media (max-width: 991px) {
  .header .menu-top .navbar-nav .nav-link {
    font-size: 12px;
    line-height: 25px;
  }
  .header .menu-top .navbar-nav {
    margin-left: 0;
  }
  .nav-link {
    display: unset ;
    padding: 0.5rem 0rem;
  }
  .header .menu-top a {
    line-height: 25px;
  }
}
.header .menu-top .navbar-nav .nav-link {
  font-size: 11px;
}
@media (max-width: 850px) {
  .header .carousel .carousel_text {
    margin-top: 30%;
  }
}
@media (max-width: 768px) {
  .header .carousel .carousel_text h1 {
    font-size: 60px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 70px;
  }
  .header .carousel .carousel_text {
    margin-top: 33%;
  }
}
@media (max-width: 650px) {
  .header .carousel .carousel_text {
    margin-top: 40%;
  }
}
@media (max-width: 576px) {
  .header {
    height: 58vh;
  }
  .header .carousel .carousel_text h1 {
    font-size: 32px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 45px;
  }
  .header .carousel .carousel_text {
    margin-top: 21%;
  }
}
@media (max-width: 440px) {
  .header .carousel .carousel_text {
    margin-top: 30%;
  }
}
@media (max-width: 320px) {
  .header {
    height: 58vh;
  }
  .header .carousel .carousel_text h1 {
    font-size: 32px;
    padding-bottom: 5px;
  }
  .header .carousel .carousel_text .btn-primary {
    width: 140px;
    height: 37px;
    letter-spacing: 1px;
  }
  .header .carousel svg {
    height: 45px;
  }
  .header .carousel .carousel_text {
    margin-top: 37%;
  }
  .header .menu-top .navbar-nav .nav-link {
    font-size: 12px;
    line-height: 25px;
  }
  .header .menu-top .navbar-nav {
    margin-left: 0;
  }
  .nav-link {
    display: unset ;
    padding: 0.5rem 0rem;
  }
  .header .menu-top a {
    line-height: 25px;
  }
}
.services {
  margin-top: -5%;
}
.services .services_text {
  border: 2px solid #d5d5d6;
  padding: 50px;
  padding-bottom: 40px;
  background: #ffff;
  border-radius: 5px;
}
.services .services_text .item {
  display: flex;
}
.services .services_text .item .text {
  line-height: 10px;
  margin-top: -3px;
  margin-left: 14px;
}
.services .services_text .item .text h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #404040;
}
.services .services_text .item .text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #a6a6a6;
}
.services .services_text .item::after {
  content: "";
  display: block;
  height: 80px;
  background: #d3d3d3;
  border-right: 1px solid #d3d3d3;
  margin-top: -10%;
  margin-left: 10px;
}
@media (max-width: 1200px) {
  .services {
    margin-top: -8%;
  }
}
@media (max-width: 992px) {
  .services {
    margin-top: -8%;
  }
  .services .services_text .item::after {
    margin-top: 0;
    height: 45px;
  }
  .services .services_text .item {
    justify-content: center;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .services {
    margin-top: -10%;
  }
  .services .services_text .item::after {
    margin-top: 0;
    height: 45px;
  }
  .services .services_text .item {
    justify-content: center;
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .services {
    margin-top: -9%;
  }
  .services .services_text .item::after {
    margin-top: 0;
    height: 45px;
  }
  .services .services_text .item {
    justify-content: center;
  }
}
@media (max-width: 540px) {
  .services {
    margin-top: -14%;
  }
}
@media (max-width: 320px) {
  .services {
    margin-top: -14%;
  }
  .services .services_text .item::after {
    margin-top: 0;
    height: 45px;
  }
}
.products {
  padding-top: 25px;
}
.products .products_title {
  display: flex;
  justify-content: center;
}
.products .products_title .text {
  margin-top: 22px;
  margin-left: 10px;
  padding-bottom: 20px;
}
.products .products_title .text h4 {
  font-size: 18px;
  font-family: 'Montserrat(OOT)', sans-serif;
  font-weight: bold;
  color: #18aae8;
  text-transform: uppercase;
}
.products .card-product {
  border: 1.5px solid #d3d3d3;
  padding-bottom: 20px;
}
.products .card-product .hide {
  position: absolute;
  font-style: 20px;
  color: #909090;
  opacity: 0;
  transition: opacity 1s;
  width: 100%;
  height: 100%;
  background: #ff7a19;
  padding-top: 115px;
}
.products .card-product .hide p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
}
.products .card-product .hide .btn {
  line-height: 7px;
  height: 25px;
  font-size: 14px;
  color: #fff;
  background: #3853d8;
  font-weight: 600;
  border-radius: 15px;
}
.products .card-product .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  overflow: hidden;
  height: 220px;
  text-align: center;
  padding-top: 20px;
}
.products .card-product .badge-new {
  top: 7px;
  left: 7px;
  position: absolute;
  display: block;
  z-index: 10;
  padding: 2px 7px;
  font-size: 12px;
  background-color: #3853d8;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.products .card-product .info-wrap {
  padding-left: 30px;
}
.products .card-product .info-wrap .title {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #4f4f4f;
  text-decoration: none;
}
.products .card-product .info-wrap .price-new {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #3853d8;
  font-weight: 600;
}
.products .card-product .info-wrap .price-old {
  font-size: 14px;
  color: #a7a7a7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-right: 5px;
}
.card-product:hover .hide {
  opacity: 0.96;
}
@media (max-width: 1200px) {
  .products .card-product .info-wrap .title {
    font-size: 16px;
  }
  .products .card-product .info-wrap .price-new {
    font-size: 12px;
  }
  .products .card-product .info-wrap .price-old {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .products .card-product .info-wrap .title {
    font-size: 16px;
  }
  .products .card-product .info-wrap .price-new {
    font-size: 12px;
  }
  .products .card-product .info-wrap .price-old {
    font-size: 12px;
  }
}
.discount {
  padding-top: 10px;
}
.discount .discount_pro {
  background: url(../img/products5.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 45px;
  padding-left: 90px;
  padding-bottom: 45px;
}
.discount .discount_pro_2 {
  margin-top: 28px;
  background: url(../img/products6.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  padding-left: 90px;
  padding-bottom: 45px;
}
.discount .discount_pro_3 {
  margin-top: 28px;
  background: url(../img/products7.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  padding-left: 90px;
  padding-bottom: 45px;
}
.discount .discount_pro_3 .text_1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  padding-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.discount .discount_pro_3 .text_2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  padding-top: 5px;
}
.discount .price_pro {
  font-size: 16px;
  color: #fff;
  font-family: 'Montserrat(OOT)', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}
.discount .badge-new {
  top: 7px;
  left: 7px;
  z-index: 10;
  padding: 4px 10px;
  font-size: 12px;
  background-color: #fff;
  color: #3853d8;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Montserrat(OOT)', sans-serif;
  font-weight: 900;
  width: 100%;
  letter-spacing: 1px;
}
.discount .text_1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fff;
  padding-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.discount .text_2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  padding-top: 5px;
}
.discount .btn {
  background: #fff;
  padding: 5px;
  width: 250px;
  border-radius: 35px;
  margin-top: 15px;
}
.discount .btn .pricee {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #4c63db;
  display: inline-block;
  font-weight: 600;
}
.discount .btn .pricee::after {
  content: '';
  display: inline-block;
  height: 13px;
  border-right: 2.5px solid #3853d8;
  margin-left: 20px;
}
.discount .btn .buy {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #4c63db;
  text-transform: uppercase;
  margin-left: 15px;
}
.discount .discount_title {
  text-align: center;
}
.discount .discount_title h1 {
  font-size: 133px;
  font-family: 'Montserrat(OTT)', sans-serif;
  font-weight: bold;
  color: #fff;
  display: block;
  margin-top: 10px;
}
.discount .discount_title h4 {
  font-size: 40px;
  font-family: 'Montserrat(OTT)', sans-serif;
  color: #fff;
  font-weight: 900;
  margin-top: -30px;
}
.discount .discount_product {
  text-align: center;
  margin-top: 70px;
}
.discount .discount_product .btn-success {
  background: #7aba1f !important;
  margin-bottom: 30px;
}
.discount .discount_product .btn {
  font-family: 'Montserrat(OTT)', sans-serif;
  font-weight: bold;
  font-size: 14px;
  background: #ff7a19;
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 15px;
}
@media (max-width: 1200px) {
  .discount .discount_pro {
    height: 180px;
    padding-top: 10px;
    padding-left: 40px;
  }
  .discount .badge-new {
    font-size: 8px;
  }
  .discount .text_1 {
    font-size: 13px;
    padding-top: 10px;
  }
  .discount .text_2 {
    font-size: 17px;
    padding-top: 0;
  }
  .discount .discount_title h1 {
    font-size: 72px;
    margin-top: 20px;
  }
  .discount .discount_title h4 {
    font-size: 30px;
    margin-top: -20px;
  }
  .discount .btn {
    padding: 0px;
    width: 125px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .discount .btn .buy {
    margin-left: 0px;
    font-size: 8px;
  }
  .discount .btn .pricee {
    font-size: 8px;
  }
  .discount .btn .pricee::after {
    content: '';
    display: inline-block;
    height: 7px;
    border-right: 2.5px solid #3853d8;
    margin-left: 5px;
  }
  .discount .discount_pro_2 {
    height: 90%;
    padding-top: 50px;
    padding-left: 40px;
  }
  .discount .price_pro {
    font-size: 11px;
  }
  .discount .discount_pro_3 {
    height: 90%;
    font-size: 11px;
    padding-top: 30px;
    padding-left: 40px;
  }
  .discount .discount_pro_3 .text_1 {
    font-size: 11px;
    padding-top: 5px;
  }
  .discount .discount_pro_3 .text_2 {
    font-size: 16px;
    padding-top: 5px;
  }
  .discount .discount_product {
    margin-top: 5px;
  }
  .discount .discount_product .btn {
    font-size: 12px;
    width: 150px;
  }
}
@media (max-width: 992px) {
  .discount .discount_pro {
    height: 180px;
    padding-top: 10px;
    padding-left: 40px;
  }
  .discount .badge-new {
    font-size: 8px;
  }
  .discount .text_1 {
    font-size: 13px;
    padding-top: 10px;
  }
  .discount .text_2 {
    font-size: 17px;
    padding-top: 0;
  }
  .discount .discount_title h1 {
    font-size: 72px;
    margin-top: 20px;
  }
  .discount .discount_title h4 {
    font-size: 30px;
    margin-top: -20px;
  }
  .discount .btn {
    padding: 0px;
    width: 125px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .discount .btn .buy {
    margin-left: 0px;
    font-size: 8px;
  }
  .discount .btn .pricee {
    font-size: 8px;
  }
  .discount .btn .pricee::after {
    content: '';
    display: inline-block;
    height: 7px;
    border-right: 2.5px solid #3853d8;
    margin-left: 5px;
  }
  .discount .discount_pro_2 {
    height: 90%;
    padding-top: 50px;
    padding-left: 40px;
  }
  .discount .price_pro {
    font-size: 11px;
  }
  .discount .discount_pro_3 {
    height: 90%;
    font-size: 11px;
    padding-top: 30px;
    padding-left: 40px;
  }
  .discount .discount_pro_3 .text_1 {
    font-size: 11px;
    padding-top: 5px;
  }
  .discount .discount_pro_3 .text_2 {
    font-size: 16px;
    padding-top: 5px;
  }
  .discount .discount_product {
    margin-top: 5px;
  }
  .discount .discount_product .btn {
    font-size: 12px;
    width: 150px;
  }
}
@media (max-width: 768px) {
  .discount .discount_pro {
    height: 180px;
    padding-top: 10px;
    padding-left: 40px;
  }
  .discount .badge-new {
    font-size: 8px;
  }
  .discount .text_1 {
    font-size: 13px;
    padding-top: 10px;
  }
  .discount .text_2 {
    font-size: 17px;
    padding-top: 0;
  }
  .discount .discount_title h1 {
    font-size: 72px;
    margin-top: 20px;
  }
  .discount .discount_title h4 {
    font-size: 30px;
    margin-top: -20px;
  }
  .discount .btn {
    padding: 0px;
    width: 125px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .discount .btn .buy {
    margin-left: 0px;
    font-size: 8px;
  }
  .discount .btn .pricee {
    font-size: 8px;
  }
  .discount .btn .pricee::after {
    content: '';
    display: inline-block;
    height: 7px;
    border-right: 2.5px solid #3853d8;
    margin-left: 5px;
  }
  .discount .discount_pro_2 {
    height: auto;
    padding-top: 50px;
    padding-left: 40px;
  }
  .discount .price_pro {
    font-size: 11px;
  }
  .discount .discount_pro_3 {
    height: 90%;
    font-size: 11px;
    padding-top: 30px;
    padding-left: 40px;
  }
  .discount .discount_pro_3 .text_1 {
    font-size: 11px;
    padding-top: 5px;
  }
  .discount .discount_pro_3 .text_2 {
    font-size: 16px;
    padding-top: 5px;
  }
  .discount .discount_product {
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .discount .discount_pro {
    height: 180px;
    padding-top: 10px;
    padding-left: 40px;
  }
  .discount .badge-new {
    font-size: 8px;
  }
  .discount .text_1 {
    font-size: 13px;
    padding-top: 10px;
  }
  .discount .text_2 {
    font-size: 17px;
    padding-top: 0;
  }
  .discount .discount_title h1 {
    font-size: 72px;
    margin-top: 20px;
  }
  .discount .discount_title h4 {
    font-size: 30px;
    margin-top: -20px;
  }
  .discount .btn {
    padding: 0px;
    width: 125px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .discount .btn .buy {
    margin-left: 0px;
    font-size: 8px;
  }
  .discount .btn .pricee {
    font-size: 8px;
  }
  .discount .btn .pricee::after {
    content: '';
    display: inline-block;
    height: 7px;
    border-right: 2.5px solid #3853d8;
    margin-left: 5px;
  }
  .discount .discount_pro_2 {
    height: auto;
    padding-top: 50px;
    padding-left: 40px;
  }
  .discount .price_pro {
    font-size: 11px;
  }
  .discount .discount_pro_3 {
    height: 90%;
    font-size: 11px;
    padding-top: 30px;
    padding-left: 40px;
  }
  .discount .discount_pro_3 .text_1 {
    font-size: 11px;
    padding-top: 5px;
  }
  .discount .discount_pro_3 .text_2 {
    font-size: 16px;
    padding-top: 5px;
  }
}
@media (max-width: 320px) {
  .discount .discount_pro {
    height: 115px;
    padding-top: 0px;
    padding-left: 5px;
  }
  .discount .badge-new {
    font-size: 7px;
  }
  .discount .text_1 {
    font-size: 10px;
    padding-top: 2px;
  }
  .discount .text_2 {
    font-size: 13px;
    padding-top: 0;
  }
  .discount .discount_title h1 {
    font-size: 38px;
    margin-top: 28px;
  }
  .discount .discount_title h4 {
    font-size: 19px;
    margin-top: -15px;
  }
  .discount .btn {
    padding: 0px;
    width: 106px;
    border-radius: 30px;
    margin-top: 0px;
  }
  .discount .btn .buy {
    margin-left: 0px;
    font-size: 8px;
  }
  .discount .btn .pricee {
    font-size: 8px;
  }
  .discount .btn .pricee::after {
    content: '';
    display: inline-block;
    height: 7px;
    border-right: 2.5px solid #3853d8;
    margin-left: 5px;
  }
  .discount .discount_pro_2 {
    height: auto;
    padding-top: 50px;
    padding-left: 5px;
  }
  .discount .price_pro {
    font-size: 11px;
  }
  .discount .discount_pro_3 {
    height: 76%;
    font-size: 11px;
    padding-top: 30px;
    padding-left: 5px;
  }
  .discount .discount_pro_3 .text_1 {
    font-size: 11px;
    padding-top: 5px;
  }
  .discount .discount_pro_3 .text_2 {
    font-size: 16px;
    padding-top: 5px;
  }
}
@media (max-width: 440px) {
  .discount .discount_pro {
    height: 115px;
    padding-top: 0px;
    padding-left: 5px;
  }
  .discount .badge-new {
    font-size: 7px;
  }
  .discount .text_1 {
    font-size: 10px;
    padding-top: 2px;
  }
  .discount .text_2 {
    font-size: 13px;
    padding-top: 0;
  }
  .discount .discount_title h1 {
    font-size: 38px;
    margin-top: 28px;
  }
  .discount .discount_title h4 {
    font-size: 19px;
    margin-top: -15px;
  }
  .discount .btn {
    padding: 0px;
    width: 106px;
    border-radius: 30px;
    margin-top: 0px;
  }
  .discount .btn .buy {
    margin-left: 0px;
    font-size: 8px;
  }
  .discount .btn .pricee {
    font-size: 8px;
  }
  .discount .btn .pricee::after {
    content: '';
    display: inline-block;
    height: 7px;
    border-right: 2.5px solid #3853d8;
    margin-left: 5px;
  }
  .discount .discount_pro_2 {
    height: auto;
    padding-top: 50px;
    padding-left: 5px;
  }
  .discount .price_pro {
    font-size: 11px;
  }
  .discount .discount_pro_3 {
    height: 76%;
    font-size: 11px;
    padding-top: 30px;
    padding-left: 5px;
  }
  .discount .discount_pro_3 .text_1 {
    font-size: 11px;
    padding-top: 5px;
  }
  .discount .discount_pro_3 .text_2 {
    font-size: 16px;
    padding-top: 5px;
  }
}
.news {
  padding-top: 30px;
}
.news .news-l {
  background: url(../img/products8.png) center no-repeat;
  height: 100%;
  padding-top: 40px;
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}
.news .news-l p {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.news .news-l .sales h1 {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
}
.news .news-l .sales h4 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}
.news .news-l .btn {
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 30px;
  margin-top: 80px;
}
.news .news_title {
  border: 1px solid #d5d5d6;
  padding: 25px 40px 10px;
}
.news .news_title .bgg {
  border-right: 4px solid #000;
}
.news .news_title .ssss {
  display: inline-block;
  margin-left: 72%;
  color: #ff8c38;
  font-size: 14px;
}
.news .news_title .ssss:last-child {
  margin-left: 40px;
}
.news .news_title h3 {
  font-size: 24px;
  font-family: 'Montserrat(OOT)', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #19ace9;
  display: inline-block;
}
.news .blog_carousel {
  border: 1px solid #d5d5d6;
  border-top: none;
}
.news .blog_carousel .carousel {
  padding: 30px 5px 30px 30px;
}
.news .blog_carousel .carousel-item {
  text-align: unset !important;
}
.news .blog_carousel .carousel-item .carousel_text {
  color: #fff;
  position: absolute;
  padding-left: 40px;
  margin-top: 22%;
}
.news .blog_carousel .carousel-item .carousel_text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.news .blog_carousel .carousel-item .carousel_text h4 {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  font-weight: 400;
}
.news .blog_carousel .carousel-item img {
  max-width: 520px;
}
.news .blogg {
  padding-bottom: 30px;
}
.news .blogg .blog_text {
  display: flex;
  padding-top: 30px;
  padding-bottom: 16px;
}
.news .blogg .blog_text .text {
  padding-left: 25px;
}
.news .blogg .blog_text .text p {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #999999;
}
.news .blogg .blog_text .text h4 {
  color: #232323;
  font-size: 19px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  margin-top: -8px;
}
.news .blogg .ss {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #19ace9;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 60%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blogg .blog_text img {
    width: 60px !important;
  }
}
@media (max-width: 768px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 60%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blog_carousel .carousel {
    padding: 0;
  }
  .news .blogg .blog_text {
    padding-top: 5px;
  }
  .news .blogg .blog_text img {
    width: 60px !important;
  }
}
@media (max-width: 576px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 18%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blog_carousel .carousel {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .news .news_title .ssss:last-child {
    margin-left: 20px;
  }
  .news .news_title .ssss {
    margin-left: 18%;
  }
  .news .blogg {
    padding-left: 10px;
  }
  .news .blog_carousel .carousel {
    padding: 0;
  }
}
.partners {
  padding-top: 30px;
  padding-bottom: 40px;
}
.partners .partners_title h3 {
  font-size: 24px;
  font-family: 'Montserrat(OOT)', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #3853d8;
}
.partners .gallery {
  padding-top: 35px;
}
.partners .gallery img {
  height: 40px;
  width: 150px !important;
}
.footer {
  padding-top: 35px;
  padding-bottom: 40px;
  background: #363637;
}
.footer .footer_text h3 {
  color: #fff;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer .footer_text .fa {
  font-size: 14px;
  color: #999999;
  padding: 30px 10px;
}
.footer .footer_text .fa:hover {
  color: #fff;
  transition: ease-in-out 300ms;
}
.footer .footer_nav {
  margin-left: -9%;
}
.footer .footer_nav li {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 10px;
}
.footer .footer_nav li a {
  color: #fff;
  text-decoration: none;
}
.footer .now-text .form-control {
  height: 40px;
  border-radius: 0;
}
.footer .now-text .btn {
  background: #fff;
  width: 135px;
  height: 40px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  border-radius: 0;
}
.footer .now-text h4 {
  padding-top: 35px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.footer .footer_call {
  margin-top: 8px;
}
.footer .footer_call h4 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.footer .footer_call p {
  font-size: 14px;
  color: #fff;
  padding-top: 15px;
}
.footer .footer_call .icon {
  margin-top: 17%;
  padding: 5px;
}
.footer .footer_call .icon img {
  padding: 5px;
}
@media (max-width: 992px) {
  .footer .now-text h4 {
    text-align: center;
  }
  .footer .footer_nav li {
    font-size: 11px;
  }
  .footer .footer_nav {
    margin-left: -13%;
    text-align: center;
  }
  .input {
    padding-bottom: 10px;
    text-align: center;
  }
  .footer_text {
    text-align: center;
  }
  .footer .footer_call {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer .now-text h4 {
    text-align: center;
  }
  .footer .footer_nav li {
    font-size: 11px;
  }
  .footer .footer_nav {
    margin-left: -13%;
    text-align: center;
  }
  .input {
    text-align: center;
  }
  .footer_text {
    text-align: center;
  }
  .footer .footer_call {
    text-align: center;
  }
  .footer .footer_call .icon {
    margin-top: 5%;
  }
  .footer .footer_call {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  .footer .now-text h4 {
    text-align: center;
  }
  .footer .footer_nav li {
    font-size: 11px;
  }
  .footer .footer_nav {
    margin-left: -13%;
    text-align: center;
  }
  .input {
    padding-bottom: 10px;
    text-align: center;
  }
  .footer .now-text .btn {
    margin-top: 10px;
  }
  .footer_text {
    text-align: center;
  }
  .footer .footer_call {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .footer .now-text h4 {
    text-align: center;
  }
  .footer .footer_call {
    text-align: center;
  }
  .footer .footer_nav li {
    font-size: 11px;
  }
  .footer .footer_nav {
    margin-left: -13%;
    text-align: center;
  }
  .input {
    padding-bottom: 10px;
    text-align: center;
  }
  .footer .now-text .btn {
    margin-top: 10px;
  }
  .footer_text {
    text-align: center;
  }
}
img {
  max-width: 100%;
  height: auto;
}
