.header {
  background: url('../img/1.png') no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
}

.header .menu-top .navbar .nav-item {
  text-align: center;
}

.header .menu-top .navbar .nav-item .nav-link {
  color: #f3f0e7;
  font-family: 'Montserrat';
  font-size: 14px;
  text-transform: capitalize;
  padding: 5px 10px;
}

.header .menu-top .navbar .nav-item .nav-link:hover {
  border: 1px solid #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.header .menu-top .fa {
  color: #fff;
  font-size: 20px;
  padding: 0 15px;
}

.header .menu-carousel {
  margin-top: 10%;
}

.header .menu-carousel .carousel-indicators {
  top: 400px;
}

.header .menu-carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #939190;
}

.header .menu-carousel .carousel-indicators li:hover {
  z-index: 1;
  border: 2px solid #fff;
}

.header .menu-carousel .carousel-indicators li.active {
  border: 2px solid #fff;
  z-index: 1;
}

.header .menu-carousel .text h4 {
  font-family: 'Raleway';
  font-size: 36px;
  color: #fff;
  font-weight: 'Medium';
}

.header .menu-carousel .text h3 {
  font-family: 'Raleway';
  font-size: 52px;
  color: #fff;
  font-weight: 700;
}

.header .menu-carousel .text p {
  font-family: 'Montserrat(OTT)';
  font-size: 16px;
  font-weight: 'Light';
  color: #fff;
}

.header .menu-carousel .text .btn {
  margin-top: 25px;
  width: 160px;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  background: #998675;
  border-bottom: 3px solid #736357;
  font-family: 'Raleway';
  font-size: 14px;
  font-weight: 700;
}

.ideas {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ideas .ideas-text {
  padding-bottom: 20px;
}

.ideas .ideas-text h4 {
  font-family: 'Raleway';
  font-size: 22px;
  color: #555555;
  padding: 10px 0 5px;
}

.ideas .ideas-text p {
  font-family: 'Montserrat(OTT)';
  font-size: 14px;
  font-weight: 400;
  color: #8c8c8c;
}

.ideas .ideas-text p:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #f1eee9;
  margin: auto;
  margin-top: 15px;
}

.ideas .ideas-text p:hover:after {
  content: "";
  background: #c7b299;
}

.ideas .ideas-text:hover h4 {
  color: #c7b299;
}

.projects {
  padding-bottom: 50px;
}

.projects .projects-text h3 {
  font-family: 'Raleway (TT)';
  font-size: 30px;
  font-weight: SemiBold;
  color: #555555;
}

.projects .projects-text p {
  font-family: 'Montserrat(OTT)';
  font-size: 16px;
  font-weight: Light;
  color: #8c8c8c;
}

.projects .tab .nav {
  color: #8c8c8c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .tab li {
  border: 1px solid #f3f0e7;
  color: #fff;
  padding: 8px;
  margin: 0 8px;
  text-transform: capitalize;
  font-family: 'Montserrat';
  font-size: 14px;
}

.projects .tab li:hover {
  background: #998675;
}

.projects .tab a {
  color: #8c8c8c;
}

.projects .tab a:hover {
  color: #fff;
}

.projects .tab .text {
  margin-top: 35px !important;
  height: 330px;
  background: #fbfaf8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.projects .tab .text img {
  -webkit-background-size: cover;
          background-size: cover;
  height: 235px;
  width: 370px;
}

.projects .tab .text h4 {
  color: #c7b299;
  font-family: 'Raleway';
  font-size: 20px;
  text-transform: capitalize;
  font-weight: Medium;
  margin-left: 25px;
  margin-top: 25px;
}

.projects .tab .text p {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #d1d1d1;
  margin-left: 25px;
}

.projects .tab .text .fa {
  color: #c7b299;
  font-size: 30px;
  margin: 0 10px;
  margin-top: 25%;
}

.projects .tab .text .fa:hover {
  color: #fff;
}

.projects .tab .text:hover .hide {
  opacity: .65;
  -webkit-box-shadow: #555555 100%;
          box-shadow: #555555 100%;
}

.projects .tab .text .hide {
  position: absolute;
  font-style: 20px;
  color: #909090;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  width: 350px;
  height: 235px;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 15px;
  background: #000;
}

.projects .tab .text:hover {
  background: #362f2d;
  color: #fff;
}

.projects .tab .text:hover h4 {
  color: #fff;
  font-size: 21px;
}

.projects .tab .text:hover p {
  color: #c7b299;
}

.projects .btn {
  margin-top: 30px;
  background: #998675;
  color: #fff;
  width: 150px;
  height: 45px;
  text-transform: uppercase;
  font-family: 'Raleway (TT)';
  font-size: 14px;
  font-weight: 700;
}

.video {
  height: 700px;
  position: relative;
}

.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.video .box {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

.video .box h5 {
  margin-top: 20px;
  font-family: '[Raleway]';
  font-size: 30px;
  color: #fff;
}

.video .box p {
  font-family: 'Montserrat (O...';
  font-size: 16px;
  color: #fff;
}

.mobile {
  padding-top: 55px;
}

.mobile .item {
  margin-left: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mobile .item .icon .fa {
  font-size: 25px;
  color: #c7b299;
}

.mobile .item .text {
  font-family: 'Montserrat (O...';
  font-size: 16px;
  color: #8c8c8c;
  margin-left: 15px;
}

.mobile .mobile-text {
  margin-top: 85px;
}

.mobile .mobile-text h4 {
  font-family: 'Raleway (TT)';
  font-size: 30px;
  color: #555555;
  font-weight: 400;
  text-transform: capitalize;
}

.mobile .mobile-text p {
  font-family: 'Montserrat(OTT)';
  font-size: 16px;
  color: #8c8c8c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.countr {
  background: #493125;
  padding-top: 65px;
  padding-bottom: 45px;
}

.countr .countr-text {
  padding: 10px;
}

.countr .countr-text h4 {
  font-family: 'Montserrat (O...';
  font-size: 48px;
  color: #fff;
  margin-top: 10px;
}

.countr .countr-text .counter {
  font-family: 'Montserrat (O...';
  font-size: 48px;
  color: #fff;
  margin-top: 10px;
}

.countr .countr-text p {
  margin-top: -10px;
  font-family: 'Montserrat (O...';
  font-size: 14px;
  color: #7b6b5b;
  margin-bottom: 15px;
}

.countr .countr-text:after {
  content: "";
  display: block;
  height: 3px;
  background: #fff;
  width: 25px;
  margin: auto;
  margin-bottom: 20px;
}

.posts {
  padding-top: 75px;
  padding-bottom: 85px;
}

.posts .posts-text h4 {
  font-family: 'Raleway (TT)';
  font-size: 30px;
  color: #555555;
  padding-bottom: 10px;
}

.posts .posts-text p {
  font-family: 'Montserrat(OTT)';
  font-size: 16px;
  color: #8c8c8c;
  padding-bottom: 10px;
}

.posts .slider .owl-dots {
  text-align: center;
}

.posts .slider .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  background: red;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 8px;
}

.posts .slider .posts-textt:hover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
  background: #362f2d;
}

.posts .slider .posts-textt:hover .data h3 {
  background: #c7b299;
  color: #fff;
  font-family: 'Montserrat(OTT)';
}

.posts .slider .posts-textt:hover .data h6 {
  background: #a48d72;
  font-family: 'Roboto';
}

.posts .slider .posts-textt:hover .img {
  opacity: .2;
  background: #000;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.posts .slider .posts-textt:hover .text h5 {
  color: #c7b299;
}

.posts .slider .posts-textt:hover .text p {
  color: #fff;
}

.posts .slider .posts-textt:hover .text .more {
  color: #c7b299;
}

.posts .slider .posts-textt {
  height: 390px;
  border: 1px solid #f8f8f8;
}

.posts .slider .posts-textt .text {
  margin: 20px 20px;
}

.posts .slider .posts-textt .text h5 {
  font-family: 'Raleway';
  font-size: 20px;
  color: #656565;
}

.posts .slider .posts-textt .text p {
  font-family: 'Montserrat (OTT)';
  font-size: 14px;
  color: #8c8c8c;
}

.posts .slider .posts-textt .text .more {
  color: #c7b299;
  font-family: 'Montserrat (OTT)';
}

.posts .slider .posts-textt .text .fa {
  font-size: 10px;
}

.posts .data {
  margin: 20px 20px;
  height: 60px;
  position: absolute;
  display: block;
  width: 45px;
  text-align: center;
}

.posts .data h3 {
  color: #fff;
  background: #363636;
  font-size: 24px;
}

.posts .data h6 {
  color: #fff;
  background: #252525;
  margin-top: -10px;
  font-size: 12px;
  padding-bottom: 5px;
}

.design {
  background: url('../img/29.png') center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 485px;
}

.design .img {
  margin-top: 145px;
}

.footer {
  background: #191919;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer .footer-text p {
  padding-top: 20px;
  font-family: 'Montserrat(OTT)';
  font-size: 14px;
  color: #4f4f4f;
}

.footer .footer-text h6 {
  color: #d1d1d1;
  margin: 0 5px;
  font-family: 'Montserrat(OTT)';
  font-size: 14px;
  padding-bottom: 20px;
}

.footer .footer-text h6 .fa {
  font-size: 10px;
}

.footer .footer-text h3 {
  font-family: 'Raleway (TT)';
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.footer .footer-text h5 {
  color: #313131;
  font-family: 'Montserrat(OTT)';
  font-size: 14px;
}

.footer .footer-text .two {
  padding-top: 0;
  font-family: 'Montserrat(OTT)';
  font-size: 14px;
}

.footer .footer-text .two:after {
  content: "";
  display: block;
  height: 1px;
  background: #252525;
  margin-top: 15px;
}

.footer .footer-text .three {
  color: #d6d6d6;
  font-family: 'Montserrat(OTT)';
  font-size: 12px;
}

.footer .footer-text .four {
  font-family: 'Montserrat(OTT)';
  font-size: 12px;
  color: #c7b299;
  padding-top: 0;
}

.footer .footer-text .four:after {
  content: "";
  display: block;
  height: 1px;
  background: #252525;
  margin-top: 15px;
}

.footer .footer-text .five {
  padding-top: 0;
  font-family: 'Montserrat(OTT)';
  font-size: 14px;
}

.footer .footer-text span {
  color: #02afdf;
  padding-top: 0;
  padding-bottom: 0;
}

.footer .footer-text .six {
  font-family: 'Montserrat(OTT)';
  font-size: 12px;
  color: #282828;
  margin-top: -35px;
}

.footer .footer-text .six:after {
  content: "";
  display: block;
  height: 1px;
  background: #252525;
  padding-top: 0;
}

.footer .footer-text .eight {
  margin-top: -20px;
}

.footer .footer-text .eight:after {
  content: "";
  display: block;
  height: 1px;
  background: #252525;
  margin-top: 15px;
}

.footer .footer-text .white {
  color: #898989;
}

.footer .footer-text .sixx {
  margin-top: -30px;
  color: #363636;
}

.footer .footer-text .imgg img {
  width: 110px;
  height: 100px;
  padding: 5px;
}

body {
  font-family: 'Montserrat';
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  background: #383b3c;
  -webkit-box-shadow: 0 10px 15px #000;
          box-shadow: 0 10px 15px #000;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: -0.5%;
}

#backtotop {
  z-index: 999;
  display: inline-block;
  position: fixed;
  visibility: hidden;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  opacity: .2;
  background: #000;
}

#backtotop i {
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

#backtotop.visible {
  visibility: visible;
  opacity: .5;
}

#backtotop:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .header .menu-carousel {
    margin-top: 5%;
  }

  .header .menu-carousel .carousel-indicators {
    top: 300px;
  }

  .projects .tab .text {
    margin-top: 35px;
    width: 300px;
  }

  .projects .tab .text .hide {
    width: 300px;
  }
}

@media (max-width: 992px) {
  .header .menu-carousel .carousel-indicators {
    top: 280px;
  }

  .projects .tab .text {
    margin-top: 35px;
    width: 330px;
    margin: auto;
  }

  .projects .tab .text .hide {
    width: 330px;
  }

  .design .img img {
    margin-top: -100px;
  }
}

@media (max-width: 768px) {
  .header .menu-carousel .carousel-indicators {
    top: 300px;
  }

  .projects .tab .text {
    width: 330px;
    margin: auto;
  }

  .projects .tab .text .hide {
    width: 330px;
  }

  .posts .posts-textt {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
  }

  .design .img img {
    margin-top: -100px;
  }
}

@media (max-width: 576px) {
  .header .menu-carousel .carousel-indicators {
    top: 350px;
  }

  .header .menu-carousel .text {
    margin-top: 12%;
  }

  .header .menu-carousel .text h4 {
    font-size: 26px;
  }

  .header .menu-carousel .text h3 {
    font-size: 35px;
  }

  .header .menu-carousel .text p {
    font-size: 14px;
  }

  .header .menu-carousel .text .btn {
    margin-top: 20px;
  }

  .projects .tab .text {
    width: 290px;
    margin: auto;
  }

  .projects .tab .text .hide {
    width: 290px;
  }

  .posts .sss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
  }

  .posts .ss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
  }

  .posts .s {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
  }

  .posts .posts-textt {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }

  .design .img img {
    margin-top: -100px;
  }
}

@media (max-width: 320px) {
  .header .menu-carousel .carousel-indicators {
    top: 350px;
  }

  .header .menu-carousel .text {
    margin-top: 10%;
  }

  .header .menu-carousel .text h4 {
    font-size: 26px;
  }

  .header .menu-carousel .text h3 {
    font-size: 35px;
  }

  .header .menu-carousel .text p {
    font-size: 11.2px;
  }

  .projects .tab .text {
    width: 290px;
  }

  .projects .tab .text .hide {
    width: 290px;
  }

  .projects .tab .fa {
    margin-top: 30% !important;
  }

  .design .img img {
    margin-top: -50px;
  }
}

@media (width: 576px) {
  .header .menu-carousel .carousel-indicators {
    top: 350px;
  }

  .header .menu-carousel .text h4 {
    font-size: 30px;
  }

  .header .menu-carousel .text h3 {
    font-size: 40px;
  }

  .projects .tab .text {
    width: 370px;
    margin: auto;
  }

  .projects .tab .text .hide {
    width: 370px;
  }

  .posts .sss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px;
  }

  .posts .ss {
    display: block;
    margin: 0;
  }

  .posts .s {
    display: block;
    margin: 0;
  }

  .posts .posts-textt {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 250px;
  }
}

@media (width: 992px) {
  .projects .tab .text {
    margin-top: 35px;
    width: 300px;
  }

  .projects .tab .text .hide {
    width: 300px;
  }

  .design .img img {
    margin-top: 0;
  }
}

@media (width: 1200px) {
  .projects .tab .text {
    margin-top: 35px;
    width: 350px;
  }

  .projects .tab .text .hide {
    width: 350px;
  }
}

@media (width: 768px) {
  .posts .posts-textt {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 350px;
  }
}
